.container1 {
    background-color: #1F2937;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}


.logo {
    width:72px;
    height:72px;
    margin:20px;
    padding:10px;
}



ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap:10px;
    
}

a {
    text-decoration: none;
    display:flex;
    color:white;
    
}
.right-links {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    padding:48px;
}

li {
    
    justify-content: flex-end;
   
}

.text1 {
    color:white;
    font-weight: bold;
    font-size:48px;
    display:flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;
    max-width: 600px;
    margin-bottom:16px;
    

}

.text2 {
    color:white;
    font-size:18px;
    display:flex;
    flex-direction: column;
    text-align: center;
    max-width: 450px;
    text-align: left;
    
    
}

.signup {
    background-color: dodgerblue;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 7px;
    height:30px;
    width:100px;
    display:flex;
    align-items: center;
    flex-direction: row;
    
    text-align: center;
    justify-content: center;
    
   
    
}

.middle {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    
    
   
}

.align {
    text-align: left;
    gap:8px;
    align-items: left;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
   
    
}

.image1 {
    display:flex;
justify-content: flex-end;
flex-direction: row;
background-color: #1F2937;
align-items: center;
padding:16px;


}

.container2 {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
}

.sedan {
    width:400px;
    height:300px;
    border: 3px solid blue;
    border-radius:10px;
}

.suv {
    width:400px;
    height:300px;
    border: 3px solid blue;
    border-radius:10px;
}
.sports {
    width:400px;
    height:300px;
    border: 3px solid blue;
    border-radius:10px;
}

.electric {
    width:400px;
    height:300px;
    border: 3px solid blue;
    border-radius:10px;
}

.text3 {
    color:black;
    font-size: 32px;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
margin-top:10px;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.imagini {
    display:flex;
    justify-content: center;
    gap:48px;
    margin-top:16px;
}

.types {
    display:flex;
    justify-content: center;
    gap:400px;
    margin-top:16px;
    align-items: center;
    color:black;
    font-weight: bold;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container3 {
    background-color: #e5e7eb;
    font-size: 36px;
   font-style: italic;
   display:flex;
   justify-content: center;
   flex-direction: column;
   align-items:center;
   margin-top:16px;
}


.textsedan {
    display:flex;
    align-items:center;
    text-align:center;
}
.autor {
    background-color: #e5e7eb;
    display:flex;
    text-align: right;
    flex-direction: column;
   justify-content: flex-end;
   width:1200px;
   overflow: hidden;
   align-items: right;
   
   
   
   
}
.author {
    text-align:right;
   font-size: 20px;
   align-items: center;
   font-weight:bolder;
   

}

body {
    
    margin:0;
    height:100vh;
    display: flex;
    flex-direction: column;
    
   
 
}


.container4 {
    background-color: dodgerblue;
    border-radius: 10px;
    margin:32px;
    padding:48px;
    display:flex;
    gap:1000px;
}
.text4 {
    color:white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin-bottom: 8px;
}

.text5 {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
   
}

.signup1 {
    color:white;
    font-weight: bold;
    border-radius: 7px;
    height:30px;
    width:100px;
    display:flex;
    align-items: center;
    flex-direction: row;
    margin:10px;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    border-color: lightgray;
}

.container5 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color:white;
    padding:16px;
}

.buton {
    display:flex;
    flex-direction: column;
    align-items: left;
}

.numaipot {
    background-color: #1F2937;
    margin:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: right;
    flex-direction: row;
}

.numaipot2 {
    display:Flex;
    align-items: flex-end;
    margin-right:500px;
    
}

.quote {
    display:flex;
    align-items: center;
}

.showroom {
    width: 500px;
    height:350px;
    flex-wrap: wrap;
    display:flex;
    gap:20px;
    justify-content: right;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    position: right;
    margin:20px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.aoleu {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
}

.baba {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:1000px;
}

.background {
    display:Flex;
    justify-content: center;
    background-color: #1F2937;
}